#ladybug {
	position: absolute;
	background-image: url("../img/ladybug.png");
	border-style: none;
	/*background-color: #F00;*/
	height: 200px;
	width: 200px;
	z-index: -1;
}

#ladybug:hover { 
	background-image: url("../img/ladybug_looking.png");
}