#ladybug {
	position: absolute;
	background-image: url("../img/ladybug.gif");
	border-style: none;
	/*background-color: #F00;*/
	height: 150px;
	width: 150px;
	z-index: -1;
}

#ladybug:hover { 
	background-image: url("../img/ladybug_looking.gif");
}

#test {
	position: absolute;
	background-color: #FF0000;
	width: 10px;
	height: 10px;
}

#test2 {
	position: absolute;
	background-color: #0000FF;
	width: 10px;
	height: 10px;
}

#test3 {
	position: absolute;
	background-color: #00FF00;
	width: 10px;
	height: 10px;
}